<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wave Line</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/indexcss">
</head>
<body>
    <img src="/logo" alt="Logo" class="logo">
    <div class="title">iLugan: An Intelligent Ultrasonic Sensor Fleet Management System and Seat Reservation for Bus Transportation Companies</div>
    <div class="card">
        <h2>iLugan Admin</h2>
        <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control mb-3">
        <label for="password" class="mt-4">Password</label>
        <input type="password" id="password" class="form-control mb-4"> 
        </div>
<input type="submit" value="Log In" class="btn-login" id="lgbtn">      
    </div>
    <script type="module" src="/login"></script>
</body>
</html>
